<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>rpWeb Tools</string>
	<key>uuid</key>
	<string>97837CAB-8460-4D74-AD63-098C4FF32037</string>
</dict>
</plist>
